* {
    font-family: serif;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
}

@supports (-webkit-touch-callout: none) {
    body {
        height: -webkit-fill-available;
    }
}

button {
    background: none;
    border: none;
    padding: 0;
}